
body {
    font-family: 'Arial', sans-serif;
    background-color:black;
    color: #333;
    text-align: center;
}

header {
    background-color: #ff9900;
    padding: 12px;
    color: #0f0101;
    display: flex;
    justify-content:center;
}

main {
    padding: 20px;
}

header div {
    display: flex;
    align-items: stretch;
}

header div select {
    margin-left: 10px;
    padding: 8px;
    font-size: 16px;
    width: 100px;
}

hr{
    background-color: #ff9900;
    height: 2px;
    width:100%
}

#fitness_calculator,
#home,
#name,
#fitness_equipment,
#fitness_tutorial,
#fitness_demonstration{
    width: 100px;
    margin: 10px;
}

#name{
    font-size: large;
    align-self: center; /* 垂直居中 */
}
/*---------以上為header範圍----------*/








#input_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#input_data input{
    padding:8px;
    width: 50%;
}

#start{
    width:53.5%;
    
}

#radio_input{/*選性別*/
    display: flex;
    float: left;
    margin-right: 10px; 
    color:white;
}

input[type="radio"] {/*讓radio變大1.5倍*/
    transform: scale(1.5);
}
 
 #input_data,
 #daily_intake,
 #muscle_buliding_intake {
    width: 30%; /*讓每個區塊都保持1/3的寬度*/
    color: white;
    margin: 5px;
 }

 #type1,
 #type2,
 #type3,
 #type4,
 #type5 {/*讓kcak前面不要換行*/
    white-space: nowrap;
 }
/*--------------------以下為Cover內容------------------------*/
 h2{
    color:aquamarine;
 }

 #Cover {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.card {
    border: 1px solid #ddd; /* 外框樣式 */
    padding: 10px;
    margin: 10px;
    width: calc(31.33%); /* 計算每個卡片的寬度（三列） */
    box-sizing: border-box; /* 考慮邊框和填充在內部寬度中 */
}

.card:hover {
    box-shadow: 0 0 30px rgb(243, 245, 207); /* 懸停時的陰影效果 */
}

a{
    text-decoration:none;
}

h1{
    color:darkcyan
}
