@font-face 
{
    font-family: Corn;
    src: url(CornDemo-Regular.ttf);
}
body {
    font-family: 'Arial', sans-serif;
    background-color:black;
    color: #333;
    text-align: center;
}

header {
    background-color: #d1b47b65;
    padding: 12px;
    color: #0f0101;
    display: flex;
    justify-content:center;
}

main {
    padding: 20px;
}

header div {
    display: flex;
    align-items: stretch;
}

header div select {
    margin-left: 10px;
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

hr{
    background-color:#f8ebb0;
    height: 2px;
    width:100%
}

#fitness_calculator,
#home,
#name,
#fitness_equipment,
#fitness_tutorial,
#fitness_demonstration{
    width: 100px;
    margin: 10px;
}

#name{
    font-family:Papyrus, fantasy;
    font-size:120%;
    align-self:center; /* 垂直居中 */
    color: #f8ebb0;
}
#name{
    font-family:'Corn'; /*新的字體*/
    font-size:140%;
    font-weight: bolder;/*配合字體大小*/
    margin-left: -300px;/*移動到左邊*/
    align-self:center;  /*垂直居中 */
    color: #f8ebb0;
    position: absolute;
}


#fitness_calculator,
#home,
#fitness_equipment,
#fitness_tutorial,
#fitness_demonstration{/*buttom改變大小*/
    border-radius: 20px; /* 調整 border-radius 以改變按鈕形狀 */
    cursor: pointer;
    border-color: rgb(135, 129, 129);
    background-image: url('metal_texture.jpg'); /* 替換成你的圖片路徑 */
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* 增加陰影效果 */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 78%;
}
/*--------------------以下為Cover內容------------------------*/
 h2{
    color:#f8ebb0;
    font-family:'Corn';
 }
/*Papyrus, fantasy;*/
 #Cover {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.card {
    border: 2px solid #f4efd3; /* 外框樣式 */
    padding: 10px;
    margin: 10px;
    width: calc(31.33%); /* 計算每個卡片的寬度（三列） */
    box-sizing: border-box; /* 考慮邊框和填充在內部寬度中 */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.card:hover {
    box-shadow: 0 0 30px rgb(243, 245, 207); /* 懸停時的陰影效果 */
}

a{
    text-decoration:none;
}

h1{
    color:burlywood;
    font-family:'Corn';
}
#WebInformation{
    color: #f8ebb0;
    font-size: small;
 }
/*------------以下為footer範圍-----------*/
footer {
    background-color: rgba(128, 128, 128, 0.5); /* 使用RGBA来设置颜色和透明度 */
    padding: 20px; /* 可选：添加一些内边距以增加美观性 */
}
 
#Download a{
    color: #f8ebb0;
    text-decoration: none;
    font-family:Papyrus, fantasy;
    font-size: small;
}

#Download{
    border: 1px solid #f8ebb0;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    border-radius: 60%;
    background-color: rgb(88, 80, 67);
}